.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Appheader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .Appheader {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}

.Title {
  color: white;
  font-size: 20px;
  font-family: Orbitron;
}