.Overall {
  width: 40%;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  flex-shrink: 0;
}

.BoardContent {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1024px) {
  .Overall {
    width: 90%;
    min-width: 280px;
    margin-bottom: 10px;
  }

  .Overall:first-of-type::before {
    content: "Player";
    color: white;
    font-size: 18px;
    font-family: Orbitron;
    margin-bottom: 10px;
    text-align: center;
  }

  .Overall:last-of-type::before {
    content: "AI";
    color: white;
    font-size: 18px;
    font-family: Orbitron;
    margin-bottom: 10px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .Overall {
    width: 95%;
    margin-bottom: 5px;
  }
}