.Row {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  margin-left: 10px;
}

@media (max-width: 480px) {
  .Row {
    padding: 5px;
    margin-left: 5px;
  }
}

.RowNumber {
  color: #7B849C;
  font-size: 20px;
  font-family: Orbitron;
  width: 10px;
}

@media (max-width: 480px) {
  .RowNumber {
    font-size: 16px;
    width: 8px;
  }
}

.Circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 2px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .Circle {
    height: 40px;
    width: 40px;
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .Circle {
    height: 35px;
    width: 35px;
    margin-left: 8px;
  }
}

.red {
  background-color: #FF0000;
}

.green {
  background-color: #92D050;
}

.blue {
  background-color: #00B0F0;
}

.purple {
  background-color: #7030A0;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.default {
  background-color: #7B849C;
}

.SmallCircle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 4px;
}

@media (max-width: 480px) {
  .SmallCircle {
    height: 15px;
    width: 15px;
    margin: 2px;
  }
}

.ButtonGreen {
  background-color: #31B363;
}

.Image {
  width: 100%;
  height: 100%;
}
