.Row {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  margin-left: 10px;
}

.RowNumber {
  color: #7B849C;
  font-size: 20px;
  font-family: Orbitron;
  width: 10px;
}

.Circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 2px;
}

.red {
  background-color: #FF0000;
}

.green {
  background-color: #92D050;
}

.blue {
  background-color: #00B0F0;
}

.purple {
  background-color: #7030A0;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.default {
  background-color: #7B849C;
}

.SmallCircle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 4px;
}

.ButtonGreen {
  background-color: #31B363;
}

.Image {
  width: 100%;
  height: 100%;
}
